@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lustria&family=Roboto+Slab&display=swap');


body{
    background-color: rgb(255, 245, 240);
    margin:0;
    padding:0;
    overflow-x:hidden;
}

header{ 
    background-image: url(img/road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .4);
}

div{
    padding: 1%;
    font-size: 1.2vw;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 7vw;
    color: rgb(249, 247, 247);
    text-shadow: 1px 1px 2px black;
    border-spacing: 0;
    
}

h2{
    color: rgb(249, 247, 247);
    font-size: 2vw;
    border-spacing: 0;
    text-shadow: 1px 1px 2px black;
    font-family: 'Lustria', serif;
   
    
}

main{
    max-width: 800px;
    margin: 0 auto;
}

section{
    margin: 3vw;

}

h3{
    margin-top: 30px;
    font-family: 'Lustria', serif;
    font-size: 20px;
}

p{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.imgMe{
    border-radius: 15%;
    width: 160px;
    float: left;
    margin-top: 0px;
    margin-right: 2vw;
    margin-bottom: 1vh;
}



a{
    font-family: 'Lustria', serif;
    text-decoration: none;
    color:rgb(5, 14, 73);
    font-size: 14px;
}

a:hover{
    color: #000;
    font-size: 16px;
}

footer{
    text-align: center;
    margin-top: 100px;
    background-color: #fec;
}

.flex-container2{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
}

.name{ 
    text-align: left;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
}

.numMail{
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
}
.icon{
    height: 35px;
    width: 35px;
    align-self: center;
}
